body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
  user-select: none;
}

input, select {
  border-radius: 0.25em;
  padding: 0.25em;
  background-color: white;
}

label {
  padding-right: 0.25em;
}

#connectButton {
  position: absolute;
  top: 2em;
  left: 2em;
}

#settings.hidden {
  top: -8em;
}

#settingsIcon {
  position: absolute;
  top: 2em;
  right: 2em;
}

.button {
  color: white;
  background-color: #222;
  padding: 0.5em;
  line-height: 0.7em;
  border-radius: 0.5em;
  cursor: pointer;
}

#settings {
  position: absolute;
  top: 1.5em;
  transition: top 0.3s;
  line-height: 2em;
}

#stats {
  font-size: 3em;
  line-height: 1.5em;
}

#time {
  position: absolute;
  bottom: 2.25em;
  font-size: 2em;
}

#battery {
  position: absolute;
  bottom: 1.5em;
  font-size: 1.5em;
}