body {
  margin: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
  user-select: none;
}

input[type='checkbox'] {
  position: relative;
  top: -0.3em;
  left: -0.4em;
}

input[type='checkbox']:after {
  line-height: 1.15em;
  content: '';
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  border: 2px solid #E0E0E0;
  background: black;
  font-size: 1.25em;
  border-radius: 0.25em;
}

input[type='checkbox']:checked:after {
  content: '✓';
  text-align: center;
  color: white;
}

input[type='checkbox'] + label {
  padding-left: 1em;
}

input, select {
  border-radius: 0.25em;
  padding: 0.25em;
  background-color: black;
  color: white;
  border: 2px solid #E0E0E0;
}

label {
  padding-right: 0.25em;
}

#connectButton {
  position: absolute;
  top: 2em;
  left: 2em;
}

#settings.hidden {
  top: -8em;
}

#settingsIcon {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 2;
}

.button {
  border: 3px solid #2a2a2a;
  padding: 0.5em;
  line-height: 0.7em;
  border-radius: 0.5em;
  cursor: pointer;
}

.button.disabled {
  color: #a55;
}

#settings {
  position: absolute;
  top: 1.5em;
  transition: top 0.3s;
  line-height: 2em;
  z-index: 2;
}

#bluetoothInfo {
  padding-bottom: 6em;
}

#stats {
  font-size: 3em;
  line-height: 1.5em;
}

#time {
  position: absolute;
  bottom: 2.25em;
  font-size: 2em;
}

#battery {
  position: absolute;
  bottom: 1.5em;
  font-size: 1.5em;
}

#overlay {
  z-index: 1;
  background-color: black;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: opacity 0.2s;
  pointer-events: none;
}

#overlay.visible {
  opacity: 0.85;
  pointer-events: all;
}